.popver_width{
	float: left;
    padding: 0px;
	min-width: 328px;
}
.no-padding-2{
	padding: 0px;
    min-width: 470px;
}
.popver_width3{min-width: 322px;}
.popver_width4{width: 152px;}
.popver_width2{
	width: 112px;
  margin: 0px;
  padding: 0px;
  float: left;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  float: left;
  overflow-y: hidden;
}
.table-heading{ 
  background:#edf5f8;
  font-size:10px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color:#304550;
}
.table-heading-2{ 
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color:#304550;
}
.table-heading-3{ 
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  color:#23527c;
}

.row {
  margin-right: 0px; 
  margin-left: 0px; 
}
.table-striped>tbody>tr>td.text-left{
  text-align:left;
}
.table_detail{
  margin-left:30px;
}
.text-center{text-align:center;}
.table_detail_2{
  margin-left:60px;
}
.table {
  margin-bottom: 0px;
}

/* DivTable.com */
.divTable{
  display: table;
  width: 100%;
  float:left;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #edf5f8;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border-bottom: 0px solid #dde6ea;
  display: table-cell;
  padding: 8px 8px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-right:2px solid #dde6ea;
}
.divTableCell, .divTableHead:first-child {
  border-right:0px solid #a9c0c8;
}
.divTableCell, .divTableHead:nth-of-type(odd){ 
  border-right:0px solid #dde6ea;
}
.table-2 .divTableCell:nth-of-type(odd){ 
  border-right:2px solid #dde6ea;
  text-align:center;
}
.table-2 .divTableCell:nth-of-type(even){ 
  text-align:center;
}
.table-2 .divTableHead:nth-of-type(odd){ 
  border-right:2px solid #dde6ea;
}
.divTableCell {
font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #23527c;
  text-transform: none;
}
.table-heading-2 .divTableCell{ 
  font-size:12px ;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700 ;
  color:#304550;
}
.table-heading-3 .divTableCell{ 
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#304550;
  border-right:1px solid #a9c0c8;
}
.table-heading-3 .divTableCell:first-child{ 
 border-right:0px solid #dde6ea;
}
.divTableHeading {
background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.divTable .divTableBody .divTableRow:nth-of-type(odd) {
  background-color: #fff;
}
.divTable .divTableBody .divTableRow:nth-of-type(even) {
  background-color: #f8fbfc;
}
.divTable .divTableBody .divTableRow .divTableCell{ 
  border-right:2px solid #dde6ea;
}
.divTable .divTableBody .divTableRow .divTableCell:first-child{ 
  border-right:0px solid #dde6ea;
}
.divTable .divTableBody .divTableRow .divTableCell:nth-of-type(odd){ 
  border-right:0px solid #dde6ea;
}
.table-responsive-2 .divTable .divTableBody .divTableRow .divTableCell{ 
  border-right:2px solid #a9c0c8;
}
.table-responsive-2 .divTable .divTableBody .divTableRow .divTableCell:nth-of-type(odd){ 
  border-right:0px solid #dde6ea;
}
.table-2 .divTable .divTableBody .divTableRow .divTableCell:nth-of-type(odd){ 
  border-right:2px solid #dde6ea;
}
.table-responsive-2 .divTableHead:first-child {
  border-right:0px solid #a9c0c8;
}
.table-responsive-2 .divTableHead:nth-of-type(odd){ 
  border-right:0px solid #dde6ea;
}
.table-responsive-2 .divTableHead:nth-of-type(even){ 
 border-right:2px solid #a9c0c8;
}