.center-notification {
  text-align: center;
}
.heading-info {
  white-space: nowrap;
  color: #304550;
}
.heading-option-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-left: 52px;
}
.heading-option-container span {
  line-height: 20px;
  color: #1C304A;
  padding: 15px 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.nowrap-div {
  white-space: nowrap;
  cursor: pointer;
}

.col-width-3 {
  width: 352px;
}
.col-width-7 {
  width: 70%;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
.header-body::-webkit-scrollbar:vertical {
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #B3EFFF; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00CFFF; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00CFFF; 
}

.table-container {
  display: flex;
}
.table  {
  position: relative;
  table-layout: fixed;
  overflow: hidden;
}
.table > thead > tr > th, 
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
  border-top: 0;  
  border-bottom: 0;
}

/*thead*/
.table thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  z-index: 10;
}
.table thead tr:nth-of-type(odd) th {
  background: #F0F7F9;
  font-family: 'Roboto', sans-serif;
  color:#000000;  
}
.table-static tbody tr:nth-child(1) td {
  width: 500px;
}
.table-static {
  position: relative;
  border-right: solid 2px #E3EBEE;
}

.table thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
}

.primary-th {
  width: 350px;
}

.table-scroll thead th:not(:last-child) {
  border-right: solid 2px #E3EBEE;
}

/*tbody*/
.table tbody {
  min-height: 100px;
  max-height: 400px;
  position: relative;
  display: block; /*seperates the tbody from the header*/
}

.table tr {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}
.table tr:nth-of-type(even) {
  background-color: #f8fbfc;
}
.table tr td {
  min-width: 120px;
}
.table tbody tr td:not(:last-child) {
  border-right: 2px solid #E3EBEE;  
}
.table tbody tr td:nth-child(1) {
  display: flex; 
}

.table tbody {
  overflow: scroll;
}
.table tbody tr td {
  white-space: nowrap;
}
.table tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  display: flex; /*seperates the first column from the tbody*/
  overflow: hidden;
}

.estimate_rse {
  padding: 0 10px 0 0;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.estimate_rse_center {
  justify-content: space-around;
}
.center-heading {
  justify-content: center;
}
.estimate_rse .data-heading {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}
.data-heading,
.center-heading {
  font-weight: 400;
}
.estimate_rse .data-value {
  text-align: right;
}
.estimate_rse .data-value:first-child {
  min-width: 70px;
}

.pin-container {
  display: flex;
}
.level-0,
.level-null {
  padding-left: 10px;
}
.level-1 {
  padding-left: 20px;
}
.level-2 {
  padding-left: 30px;
}
.level-3 {
  padding-left: 40px;
}
.level-3 {
  padding-left: 50px;
}

.help-img {
  margin-left: 20px;
  width: 15px;
  height: 15px;
}

.estimate_rse {
  outline: 0
}
