.table-responsive {
  overflow-x: auto;
  width: 100%;
  float: left;
  overflow-y: hidden;
}
th { 
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color:#304550;
}
.table-estimate-rse th{
  text-align: center;
}
.table>thead>tr>th, 
.table>tbody>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td {
  border-top: 0;  
  border-bottom: 0;
}
.table-estimate-rse >thead>tr>th, 
.table-estimate-rse >tbody>tr>th,
.table-estimate-rse >thead>tr>td,
.table-estimate-rse >tbody>tr>td {
  border-right: 2px solid #dde6ea;  
}
.table>thead>tr>th {
  background: #eee;
}
.table>tbody>tr {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #23527c;
  text-transform: none;
}
.table>tbody>tr:nth-of-type(even) {
  background-color: #f8fbfc;
}
.estimate_rse {
  display: flex;
  justify-content: space-between;
}
.estimate_rse .data-heading {
  font-size:12px ;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700 ;
  color:#304550;
}


.pin-container {
  display: flex;
}
.level-0 {
  padding-left: 20px;
}
.level-1 {
  padding-left: 40px;
}
.level-2 {
  padding-left: 60px;
}
.level-3 {
  padding-left: 80px;
}
.level-3 {
  padding-left: 100px;
}