.navbar-right-2 {
  float: right;
}
.main-heading{
	font-size:20px;
	font-family: 'Roboto', sans-serif;
	color:#304550;
	margin:30px 0px 30px;
	text-align:center;
}

/* Tooltip */
.__react_component_tooltip {
  max-width: 400px; 
}