/* left sidebar */
.sidebar-container {
  padding: 1px 0px 0px 40px;
}
.right-padding-option {
  padding: 1px 0px 0px 26px;
}
.checked-option {
  display: flex;
}
.dropdown_up:not(:first-child) {
  margin-top: 2px;
}
@media (max-width: 767px) and (min-width: 481px) {
  .dropdown_up {
    margin: 1px 0px 0px 0px;
  }
}
.right-padding {
  padding: 0px 0px 0px 15px;
}
.dropdown_second{
  padding: 2px 0px 0px 40px;
  margin-top:0px;
}
.dropdown_third{
  padding: 2px 0px 0px 40px;
  margin-top:0px;
}
.dropdown_four{
  padding: 2px 0px 0px 40px;
  margin-top:0px;
}
.dropdown_five{
  padding: 2px 0px 0px 40px;
  margin-top:0px;
}
.btn-light{ background:#fafafa; width:100%; padding:20px 20px; text-align:left; color:#fff; font-family: 'Roboto', sans-serif; font-size:16px; border:none; color:#23527c; font-family: 'Roboto', sans-serif;}
.btn-dark{ background:#081827; width:100%; padding:20px 20px; text-align:left; color:#fff; font-family: 'Roboto', sans-serif; font-size:16px; border:none;}
.caret_down {
  float: right;
  margin-top: 0px;
}
.caret_down_sec {
  float: right;
  margin-top: 0px;
  color:#304550;
  line-height: 30px;
}
.dropdown-menu_2{
  width: 100%;
  margin: 0px 0px;
  border-radius:0px;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  padding:20px 0px;

}
.dropdown-menu_2>li>a {
  padding: 10px 20px;
  color: #447bac;
  font-size:16px;
  display: inline-block;
}
.dropdown-menu_2>li>a i {
  margin-right:10px;
}
.dropdown-menu_2>li>a:hover {
  background:none;
  color:#304550;
}
.dropdown-menu_2>li.active>a {
  color:#304550;
  background-color:none;
}
.dropdown-menu_2>li>a:focus {
  background:none;
  color:#304550;
}
.reset img{ margin-right:10px;}
.reset{
  margin: 20px 0px 20px;
  padding:0px 20px;
  color:#447bac;
  font-size:10px;
  font-weight:700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform:uppercase;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #304550;
  text-decoration: none;
  background-color:transparent;
  outline: 0;
}
span.top_heading{
  font-size:10px;
  font-family:'Arial';
  color:#304550;
  text-transform:uppercase;
  font-weight:bold;
}
.dropdown-menu_3{
width: 100%;
  margin: 0px 0px;
  border-radius:0px;
  list-style: none;
  background-color: #fff;
  border-radius: 0px;
  padding:2px 0px;
  height:200px;
  overflow:auto;

}
.mCSB_container>li>a {
  padding: 10px 20px;
  color: #447bac;
  font-size:16px;
  display: inline-block;
}
.mCSB_container>li>a i {
  margin-right:10px;
}
#collapseExample2{
  height: 200px;
}
.mCSB_container>li>a:hover {
  background:none;
  color:#304550;
  text-decoration:none;
}
.mCSB_container>li.active>a {
  color:#304550;
  background-color:none;
}
.mCSB_container>li>a:focus {
  background:none;
  color:#304550;
}